<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <section name="tfs" type="JiraTFS.TfsConfigSection, JiraTFS" />
    <section name="jira" type="JiraTFS.JiraConfigSection, JiraTFS" />
    <section name="globalConfig" type="JiraTFS.GlobalConfigurationSection, JiraTFS" />
  </configSections>
  <!--http://srv-tfs2012.axapta.local:8080/tfs/MicrosoftDepartmentCollection/-->
  <!--http://srv-tfsmain.axapta.local:8080/tfs/MicrosoftDepartmentCollection/-->
  <tfs defaultIterationPath="EASOPS\\Разработка\\Работы к распределению - ЕАСОПС"/>
 <globalConfig 
    attachmentsFolder="Attachments//" 
    integrationDelay="5000" 
    startKey="EASBUG-1132" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DbConnection" connectionString="data source=.;Initial Catalog=JiraTFSdb;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>